mixin sInstallments()
	// start sInstallments
	+b.SECTION.sInstallments.section#sInstallments&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sInstallments
				
			.row
	// end sInstallments