mixin sMoreAbout()
	// start sMoreAbout
	+b.SECTION.sMoreAbout.section#sMoreAbout&attributes(attributes)
		.container
			+b.section-title
				h2 Почему нам доверяют наши клиенты?
			ul
				li С&nbsp;самого начала своей производственной деятельности мы&nbsp;взяли ориентир на&nbsp;предоставление своим клиентам продукции только безупречного качества. Для реализации этой задачи мы&nbsp;используем самые передовые технологии мирового оконного производства. Это дает вам возможность приобрести качественные, функциональные и&nbsp;безопасные окна по&nbsp;цене производителя!
				li Производство пластиковых окон осуществляется на&nbsp;современном высоко технологичном оборудовании. В&nbsp;производстве окон мы&nbsp;используем профильные системыведущего европейского концерна REHAU, а&nbsp;фурнитуру и&nbsp;другие комплектующие оконных конструкций&nbsp;&mdash; только от&nbsp;лучших мировых брендов!
				li Наш производственный персонал обладает высоким профессионализмом и&nbsp;большим опытом. Все это позволяет нам собрать воедино все составляющие безупречного качества. А&nbsp;чтобы вы&nbsp;не&nbsp;сомневались в&nbsp;качестве нашей продукции, мы&nbsp;организовали современную систему контроля качества, которая исключает любую возможность попадания брака к&nbsp;конечному покупателю.
			blockquote Мы&nbsp;ставим перед собой задачу не&nbsp;просто нести тепло и&nbsp;уют в&nbsp;Ваши дома. Прежде всего мы&nbsp;хотим помочь Вам сделать осознанный, а&nbsp;значит правильный выбор при заказе остекления
			+b.section-title
				h2 Почему нам доверяют наши клиенты?
			ol
				li С&nbsp;самого начала своей производственной деятельности мы&nbsp;взяли ориентир на&nbsp;предоставление своим клиентам продукции только безупречного качества. Для реализации этой задачи мы&nbsp;используем самые передовые технологии мирового оконного производства. Это дает вам возможность приобрести качественные, функциональные и&nbsp;безопасные окна по&nbsp;цене производителя!
				li Производство пластиковых окон осуществляется на&nbsp;современном высоко технологичном оборудовании. В&nbsp;производстве окон мы&nbsp;используем профильные системыведущего европейского концерна REHAU, а&nbsp;фурнитуру и&nbsp;другие комплектующие оконных конструкций&nbsp;&mdash; только от&nbsp;лучших мировых брендов!
				li Наш производственный персонал обладает высоким профессионализмом и&nbsp;большим опытом. Все это позволяет нам собрать воедино все составляющие безупречного качества. А&nbsp;чтобы вы&nbsp;не&nbsp;сомневались в&nbsp;качестве нашей продукции, мы&nbsp;организовали современную систему контроля качества, которая исключает любую возможность попадания брака к&nbsp;конечному покупателю.
				li Производственные мощности компании обеспечивают выпуск достаточно большого объема продукции, а&nbsp;это значит, что мы&nbsp;оперативно выполняем все заказы своих клиентов. Автоматизированные технологические линии позволяют нам полностью замкнуть цикл производства пластиковых окон, это минимизирует издержки, поэтому мы&nbsp;можем предложить своим заказчикам максимально выгодные цены на&nbsp;пластиковые окна и&nbsp;короткие сроки исполнения заказов. <br><br>Собственное современное производство пластиковых окон&nbsp;&mdash; одно из&nbsp;главных преимуществ компании, ведь это дает возможность предлагать нашим клиентам самый высокий уровень качества на&nbsp;самых выгодных условиях!
			+e.content
				//- +e.imgWrap
				//- 	img.d-none.d-sm-block.lazy(src="#" data-src="img/@2x/about-inner-2.png", alt="")
				+pic('about-inner-2.png','','')(class="d-none d-llg-block")
				+b.section-title
					h2 О компании
				p #[strong Производятся из&nbsp;качественного 3-х слойного клееного бруса] (категории &laquo;В&raquo;), сырьем служит ангарская сосна, лиственница или дуб.
				p Древесина проходит тщательный отбор, чтобы исключить наличие сучков, микротрещин и дефектов на поверхности изделия.  Брус производится методом склеивания трех ламелей, это придает ему высокую прочность, поэтому готовое окно не будет менять своей геометрии из-за высокой влажности или, наоборот, аномальной сухости.
				p Древесина проходит тщательный отбор, чтобы исключить наличие сучков, микротрещин и&nbsp;дефектов на&nbsp;поверхности изделия. Брус производится методом склеивания трех ламелей, это придает ему высокую прочность, поэтому готовое окно не&nbsp;будет менять своей геометрии из-за высокой влажности или, наоборот, аномальной сухости.
			+e.contentTable
				.h6 О компании
				table
					tr
						th Название
						th Примечание
						th Цифра
					tr
						td Название
						td Примечание
						td Цифра
					tr
						td Название
						td Примечание
						td Цифра
					tr
						td Название
						td Примечание
						td Цифра
					tr
						td 
			+e.materials
				.h6 дополнительно
				.row
					mixin materialsItem(im,t)
						.col-md-6
							+e.materialsItem(href="#")
								picture
									source.lazy(srcset="#" data-srcset=`img/@2x/webp/${im}.webp` type="image/webp")
									img.lazy.object-fit-js(src="#" data-src=`img/@2x/${im}.jpg`, alt="")
								+e.DIV.materialsText= t
									span= im
										|, 15 Мб
					+materialsItem('PDF','дополнительные материалы о компании')
					+materialsItem('PPT','о компании')
					+materialsItem('DOC','материалы о компании')
					+materialsItem('RAR','дополнительные материалы о компании')
					+materialsItem('XLS','дополнительные материалы о компании')
					+materialsItem('ZIP','материалы о компании')
			+e.slider
				.h6 сертификаты
				+b.slider-certificates.swiper-container
					.swiper-wrapper
						mixin slide
							.swiper-slide
								+e.slide.swiper-slide
									a(href=`img/@2x/certificat.jpg` data-fancybox=`certificat`)
										img.swiper-lazy.res-i(src="#" data-src=`img/@2x/certificat.jpg`, alt="")
						+slide
						+slide
						+slide
				+arrow
	// end sMoreAbout