mixin sProdCard()
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		+e.header
			+e.header-bg
				img.lazy(src='#' data-src="img/@2x/head-bg-catalog.jpg" alt="")
			.container
				+b.section-title
					h2 деревянные окна
				block
		+e.white-strip
			+e.top-bg.d-none.d-xl-block
				img.lazy(src="#" data-src="img/@2x/prod-card-top.png" alt="")
			+e.bot-bg.d-none.d-xl-block
				img.lazy(src="#" data-src="img/@2x/prod-card-bot.png" alt="")
			.container
				+e.white-st-headline Компания работает на&nbsp;рынке пластиковых окон с&nbsp;2003&nbsp;года. У&nbsp;нашей компании есть собственное производство пластиковых окон&nbsp;&mdash; и&nbsp;это является нашим неоспоримым преимуществом перед другими московскими оконными компаниями.
				+e.white-st-txt
					p Мы&nbsp;ставим перед собой задачу не&nbsp;просто нести тепло и&nbsp;уют в&nbsp;Ваши дома. Прежде всего мы&nbsp;хотим помочь Вам сделать осознанный, а&nbsp;значит правильный выбор при заказе остекления
				+e.row.row
					+e.left-col.col-sm-6.col-xl-4.col-xxl-3
						+componentItem('фурнитура', 1, 'alt-1')
						+componentItem('уплотнитель', 2, 'alt-2')
						+componentItem('уплотнитель', 3, 'alt-3')
						+componentItem('замок', 4, 'alt-4')
						+componentItem('краски', 5, 'alt-5')
					+e.center-col.col-xl-4.col-xxl-6.d-none.d-xl-block
						+e.big-wind-img
							img.lazy(src='#' data-src='img/@2x/04-window-piece.png' alt='')
					+e.right-col.col-sm-6.col-xl-4.col-xxl-3
						+componentItem('фурнитура для порталов', 6, 6, 'reverse-item')
						+componentItem('ручки', 7, 7, 'reverse-item')
						+componentItem('стеклопакеты', 8, 8, 'reverse-item')
						+componentItem('алюминевая система', 9, 9, 'reverse-item')
	// end sProdCard

mixin componentItem(headlineTxt, compImg, brandImg, parentClass='')
	+e.item(class=parentClass)
		+e.brand-bl
			+e.brand-img-cont
				+e.brand-headline=headlineTxt
				img.lazy(src="#" data-src=`img/@2x/04-brand-${brandImg}.jpg` alt="")
		+e.comp-img
			img.lazy(src="#" data-src=`img/@2x/04-component-${compImg}.jpg` alt="")