// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	background-color: $body-color;
	// background-image: url(../img);
	background-color: $primary;
	color: #ffffff;
	
	&__title{
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: 0;
		line-height: 1;
		color: #ffffff;
		&--lg{
			@extend .h1;
			margin-bottom: .5em;
			
		}
		&--sm{
			@extend .h2;
				@include media-breakpoint-only(lg) {
					// font-size: rem(20);
				}
			
		}
	}
	&__title-sub{
		@include rfs(rem(36));
		font-weight: 200;
		text-transform: uppercase;
		position: relative;
		&::after{
			content: '';
			width: 132px;
			height: 2px;
			background-color: $body-color;
			display: block;
			margin-top: em(15);
			margin-bottom: em(15);
		}
	}
	p{
		@extend .h6;
		font-weight: 300;
			@include media-breakpoint-up(sm){

				margin-bottom: em(44);
			}
			margin-bottom: em(44 / 2);
	}
	&__caption{
		max-width: rem(500);
		position: relative;
		picture{
			@include media-breakpoint-up(xl){
				max-width: 100%;
			}
			max-width: rem(700);
			//  position: absolute;
			// //  left: 0;
			// left: 100%;
		}
	}

	&__img-wrap{
		picture {
			@include media-breakpoint-up(xl) {
				max-width: 100%;
			}

			max-width: rem(450);
			//  position: absolute;
			// //  left: 0;
			// left: 100%;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-white;
		width: rem(180);
		@include media-breakpoint-up(sm){

			margin-top: rem(20);
		}
	}
	.container{
	}
	
	
	
	
	--thumbH: #{rem(250)};
	@include media-breakpoint-up(lg){

		--thumbHPb: calc(#{rem(250)});
	}
	--thumbHPb: calc(#{rem(250)} * 3);
	&__slide{
		height: initial;
		@include media-breakpoint-up(lg) {

			padding-top: rem(20);
		}
		padding-top: 40px;
		.row{
			justify-content: space-between;
			flex-wrap: nowrap;
		}
		@include media-breakpoint-up(xl) {

			min-height: 100vh;
			min-height: calc(var(--vh, 1vh) * 100);
			padding-bottom: calc(1 * var(--thumbHPb) + #{rem(15)});
		}
		padding-bottom: calc(1 * var(--thumbHPb) + #{rem(115)});
	}
	&__slide-sm{
		border: 1px solid rgba($color: $white, $alpha: .5);
		height: var(--thumbH);
		position: relative;
		.row{
			flex-wrap: nowrap;
		}
		img{
			opacity: 0.7;
			@include mt;
		}
		&::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: rem(16);
			background-color: currentColor;
			@include mt;
			z-index: -1;
		}
		&:hover{

				.headerBlock__btn--more {
					opacity: 1;
					pointer-events: painted;
				}

				img {
					opacity: 1;
				}

				&::after {
					height: var(--thumbH);
				}
		}
		&.swiper-slide-thumb-active {
				.headerBlock__btn--more{
					opacity: 1;
					pointer-events: painted;
				}
				img{
					opacity: 1;
				}
				&::after{
					height: var(--thumbH);
				}
		}
	}
	&__item{
		height: 100%;
			@include media-breakpoint-up(xxl){

				padding: rem(50) rem(50);
			}
		padding: rem(50) rem(20);
		&::after{
			content: '';
			position: absolute;
			left: rem(50);
			width: 94px;
			height: 5px;
			background-color: $white;
			top: 0;
		}
		color: #ffffff;
		display: flex;
		// justify-content: space-between;
		flex-direction: column;
		.row{
			flex: 0 0 auto;
		}
	}
	
	&__foot-slider{
		// margin-top: calc(-1 * var(--thumbH));
		// height: var(--thumbH);
		z-index: 4;
		position: relative;
			@include media-breakpoint-down(sm) {
				.swiper-wrapper{
					display: block;
					transform: translate3d(0px, 0px, 0px) !important;
				}
			}
	}
	--swiperArrowPosition: 0;
	--swiperColorDef: #fff;
	&__control-wrap {
		position: relative;
		max-width: rem(280);
		height: 1rem;

		margin-top: calc(-1 * var(--thumbHPb) - #{rem(95)});
		@include media-breakpoint-down(sm){
			margin-top: calc(-1 * var(--thumbHPb) - #{rem(75)});
			margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(62);
			}
		margin-bottom: rem(82);

		.swiper-button-hand{

			margin-top: 0;
		}
	}
	&__btn--more{
		pointer-events: none;
		opacity: 0;
	}
	@include media-breakpoint-up(xl) {}
	
	@include media-breakpoint-up(lg) {}
	
	@include media-breakpoint-up(md) {}
	
	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) {}
	

	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock