mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		+e.slider--js.swiper-container
			.swiper-wrapper
				mixin sl(t)
					+e.slide.swiper-slide.bg-wrap
						picture.picture-bg
							source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/head-bg.webp` type="image/webp")
							img.object-fit-js.img-bg.swiper-lazy(src="#" data-src=`img/@2x/head-bg.jpg`, alt="")
						 
						.container
							.row.align-items-center
								+e.col.col-md-auto
									+e.caption
										+e.title--lg= t
										+e.title-sub премиум класса
										p В основе деревянных окон — натуральная древесина. Все используемые в обработке материалы экологически чистые, сохраняют свойства дерева и абсолютно безвредны. 
										+e.btn(href="#") Подробнее
								+e.img-wrap.col-auto.d-none.d-lg-block
									picture
										source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/head-img.webp` type="image/webp")
										img.swiper-lazy(src="#" data-src=`img/@2x/head-img.png`, alt="")
				+sl('Деревянные евроокна ')
				+sl('Деревянные двери')
				+sl('Деревянные порталы')
		.container
			+e.control-wrap
				.swiper-pagination
				+arrow
		+e.foot-slider
			.row.mx-0
				mixin item(t,i, color)
					+e.slide-sm.col-lg-4(style=`color:${color}`)
						+e.item(href="#")
							.row
								.col
									+e.DIV.title--sm= t
								.col-auto
									img(src=`img/svg/cat-${i}.svg`, alt="") 
							+e.btn--more подробнее
				+item('Деревянные окна','1', '#d49873')
				+item('Деревянные двери','2','#d86e33')
				+item('Деревянные порталы','3','#b85320')
			
			


						
	// end headerBlock