// start .sWooden
.sWooden {
	background-color: $light;

	--sPB: #{0};
	--sPT: #{rem(35px)};

	--sTPB: #{rem(30px)};
	@include media-breakpoint-up(lg){
		--sPB: #{rem(65px)};
		--sPT: #{rem(69px)};

		--sTPB: #{rem(49px)};
	}


	&__row{
		@include roww(33px);
	}
	&__learn-more-link{
		display: block;
		position: relative;
		padding-top: 72.4%;
		overflow: hidden;

		margin-bottom: rem(30px);

		img{
			@include mt();
			position: absolute;
			z-index: 0;
			left: 0;
			top: 0;

			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&:hover{
			img{
				transform: scale(1.1);
			}
			.sWooden__hidden-block{
				opacity: 1;
			}

		}
	}
	&__hidden-block{
		@include mt();
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
	}
	&__lear-more-btn{
		@extend .btn;
		@extend .btn-outline-white;
		width: 180px;
	}
	&__txt-content{
		h4{
			font-size: $h5-font-size;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: rem(20);
		}
		p{
			font-weight: 300;
			color: $secondary;
		}
		p:last-child{
			margin-bottom: 0;
		}
		padding-bottom: rem(35px);
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sWooden