// start .sContacts
.sContacts {
	--sPT: #{0};
	--sPB: #{0};

	&__container{
		@include media-breakpoint-up(xxl){
			padding-left: 21px;
			padding-right: 0px;
			max-width: 1274px;
		}
	}

	&__row{
		padding: rem(30) 0;
		@include media-breakpoint-up(xl){
			padding: 41px 0 35px 0;
		}
	}
	&__contact-col{
		@include media-breakpoint-down(sm){
			border-bottom: 1px solid $secondary;
			&:last-child{
				border-bottom: none;
			}
		}
		@include media-breakpoint-between(sm,xl){
			&:nth-child(1){
				border-right: 1px solid $secondary;
				border-bottom: 1px solid $secondary;
			}
			&:nth-child(2){
				border-bottom: 1px solid $secondary;
			}
			&:nth-child(3){
				border-right: 1px solid $secondary;
			}
			&:nth-child(4){


			}

		}
		@include media-breakpoint-up(xl){
			border-right: 1px solid $secondary;
			&:last-child{
				border-right: none;
			}
		}
	}
	&__col-content{
		@include media-breakpoint-up(xxl){
			padding: 0 20px;
		}
	}
	//
	&__item{
		width: 220px;
	}
	&__item-header{
		display: flex;
		align-items: center;
		padding-bottom: 9px;

		span{
			color: $primary2;
			line-height: 2;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	&__icon-cont{
		height: 25px;
		margin-right: 12px;

		display: flex;
		align-items: center;

		.icon{
			color: $primary3;
			font-size: rem(17px);

			&-location{
				//font-size: rem(25px);
			}
			&-phone{

			}
			&-clock{

			}
			&-mail{

			}
		}
	}

	&__item-content{
		padding-bottom: rem(20);
		@include media-breakpoint-up(lg){
			padding-bottom: 24px;
		}
	}
	//1
	&__address{
		p{
			font-size: rem(18px);
			//font-weight: 300;
			line-height: (24/18);
			margin-bottom: 20px;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	//2
	&__call-link{
		display: block;
		color: $body-color;
		@include mt();
		&:hover{
			color: $primary;
		}

		font-size: $h6-font-size;
		font-weight: 300;
		line-height: (24/18);

		margin-bottom: rem(20px);
	}
	&__order-call{
		color: $body-color;
		@include mt();
		&:hover{
			color: $primary;
		}

		font-size: $smallest;
		line-height: 2;
		text-transform: uppercase;
	}
	//3
	&__page-link{
		color: $body-color;
		@include mt();
		&:hover{
			color: $primary;
		}

		font-size: $smallest;
		line-height: 2;
		text-transform: uppercase;
	}
	//4
	&__working-shedule{
		font-size: $h6-font-size;
		font-weight: 300;
		line-height: (18/24);
	}
	//5
	&__mail-link{
		color: $body-color;
		@include mt();
		&:hover{
			color: $primary;
		}

		font-size: $h6-font-size;
		font-weight: 300;
		line-height: (18/24);
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}
} // end.sContacts