mixin sCasesBody()
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 Выполненные работы
			block
			 
	// end sCases

mixin caseSlider(i= 7)
	+e.slider-wrapper
		+e.slider.swiper-container&attributes(attributes)
			.swiper-wrapper
				- for (var x = 1; x < i; x++)
					+e.slide.swiper-slide.bg-wrap(href=`img/@2x/case-${x}.jpg` data-fancybox="cases-gal")
						picture.picture-bg
							source( srcset=`img/@2x/webp/case-${x}.webp` type="image/webp")
							img.object-fit-js.img-bg( src=`img/@2x/case-${x}.jpg`, alt="")
						+e.title Остекление частного дома
		.d-md-none
			+arrow
mixin sCases()
	+sCasesBody()(class="pb-0")
		+caseSlider()(class="sCases__slider--js")
		+e.btn--all(href="#") все работы
	// end sCases
mixin sCases06()
	+sCasesBody()
		.tabs
			.tabs__caption
				.tabs__btn.active все работы
				.tabs__btn остекленение квартир
				.tabs__btn остекленение мансард
				.tabs__btn Загородние дома
			.tabs__wrap
				mixin tab()
					.tabs__content&attributes(attributes)
						+caseSlider(13)(class="tab-slider-js")
						
						+e.btn(href="#") показать еще
				+tab()(class="active")
				+tab()
				+tab()
				+tab()
	// end sCases