mixin sAbout()
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2 О компании
			+e.content
				p #[strong Производятся из&nbsp;качественного 3-х слойного клееного бруса] (категории &laquo;В&raquo;), сырьем служит ангарская сосна, лиственница или дуб. 
				p Древесина проходит тщательный отбор, чтобы исключить наличие сучков, микротрещин и&nbsp;дефектов на&nbsp;поверхности изделия. Брус производится методом склеивания трех ламелей, это придает ему высокую прочность, поэтому готовое окно не&nbsp;будет менять своей геометрии из-за высокой влажности или, наоборот, аномальной сухости.
				mixin item(i,p)
					+e.item
						+e.icon-wrap
							img(src=`img/svg/about-${i}.svg`, alt="")
						!= p
				+item(`1`,`Собственное <br> производство`)
				+item(`2`,`Использование <br> экологичных материалов`)
				+item(`3`,`Гарантия <br> качества`)
				+item(`4`,`Качественный <br> монтаж`)
				+e.btn(href="#") Подробнее
				+pic('about-img.png')(class="d-none d-sm-block")
	// end sAbout

mixin sAbout-lg()
	// start sAbout
	+b.SECTION.sAbout--inner.section#sAbout&attributes(attributes)
		.container
			+e.content--lg
				p: strong Компания работает на&nbsp;рынке пластиковых окон с&nbsp;2003&nbsp;года. У&nbsp;нашей компании есть собственное производство пластиковых окон&nbsp;&mdash; и&nbsp;это является нашим неоспоримым преимуществом перед другими&nbsp;московскими оконными компаниями.
				p Мы&nbsp;ставим перед собой задачу не&nbsp;просто нести тепло и&nbsp;уют в&nbsp;Ваши дома. Прежде всего мы&nbsp;хотим помочь Вам сделать осознанный, а&nbsp;значит правильный выбор при заказе остекления
			+e.content
				p #[strong Производятся из&nbsp;качественного 3-х слойного клееного бруса] (категории &laquo;В&raquo;), сырьем служит ангарская сосна, лиственница или дуб. 
				p Древесина проходит тщательный отбор, чтобы исключить наличие сучков, микротрещин и&nbsp;дефектов на&nbsp;поверхности изделия. Брус производится методом склеивания трех ламелей, это придает ему высокую прочность, поэтому готовое окно не&nbsp;будет менять своей геометрии из-за высокой влажности или, наоборот, аномальной сухости.
				mixin item(i,p)
					+e.item
						+e.icon-wrap
							img(src=`img/svg/about-${i}.svg`, alt="")
						!= p
				+item(`1`,`Собственное <br> производство`)
				+item(`2`,`Использование <br> экологичных материалов`)
				+item(`3`,`Гарантия <br> качества`)
				+item(`4`,`Качественный <br> монтаж`)
				//- +e.btn(href="#") Подробнее
				+pic('about-inner.png','','')(class="d-none d-md-block")