mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			.h6.ttu.strong Компания работает на&nbsp;рынке пластиковых окон с&nbsp;2003&nbsp;года. У&nbsp;нашей компании есть собственное производство пластиковых окон&nbsp;&mdash; и&nbsp;это является нашим неоспоримым преимуществом перед другими московскими оконными компаниями.
			p.text-secondary Мы&nbsp;ставим перед собой задачу не&nbsp;просто нести тепло и&nbsp;уют в&nbsp;Ваши дома. Прежде всего мы&nbsp;хотим помочь Вам сделать осознанный, а&nbsp;значит правильный выбор при&nbsp;заказе&nbsp;остекления
	// end sContent